[Unit]
Description=Storm warning

[Install]
WantedBy=default.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=60

EnvironmentFile=/home/dottedmag/stormwarning/env
ExecStart=/home/dottedmag/stormwarning/stormwarning
